Package: net.sourceloc.pinanim
Name: PinAnim
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
