Package: net.sourceloc.pinanim
Name: PinAnim
Version: 1.1
Architecture: iphoneos-arm
Description: Animations for Pin dots
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), ws.hbang.common (>= 1.17)
