<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>PinAnimIcon.png</string>
			<key>packageIdentifier</key>
			<string>net.sourceloc.pinanim</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation</string>
		</dict>
		<dict>
			<key>key</key>
			<string>animation</string>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>default</key>
			<string>Bounce</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>Bounce</string>
				<string>Scale</string>
				<string>Hidden</string>
				<string>Stay</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Bounce</string>
				<string>Scale</string>
				<string>Hidden</string>
				<string>Stay</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Bounce</string>
				<string>Scale</string>
				<string>Hidden</string>
				<string>Stay</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>key</key>
			<string>waveOnUnlock</string>
			<key>label</key>
			<string>Unlock Animation</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>key</key>
			<string>bounceDownOnDelete</string>
			<key>label</key>
			<string>Deletion Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Apmlification:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>key</key>
			<string>animationStrength</string>
			<key>min</key>
			<integer>-2</integer>
			<key>max</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Speed:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>key</key>
			<string>speed</string>
			<key>min</key>
			<real>0.25</real>
			<key>max</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Transition</string>
		</dict>
		<dict>
			<key>key</key>
			<string>transition</string>
			<key>PostNotification</key>
			<string>net.sourceloc.pinanimpreferences/ReloadPrefs</string>
			<key>defaults</key>
			<string>net.sourceloc.pinanimpreferences</string>
			<key>default</key>
			<string>Ease Out</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>Ease Out</string>
				<string>Ease In</string>
				<string>Ease In Out</string>
				<string>Linear</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Ease Out</string>
				<string>Ease In</string>
				<string>Ease In Out</string>
				<string>Linear</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Ease Out</string>
				<string>Ease In</string>
				<string>Ease In Out</string>
				<string>Linear</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links!</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>PinAnimGithub.png</string>
			<key>label</key>
			<string>Source Code</string>
			<key>url</key>
			<string>https://github.com/sourcelocation</string>
			<key>iconCircular</key>
			<true />
			<key>height</key>
			<integer>56</integer>
			<key>subtitle</key>
			<string>https://github.com/sourcelocation</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>Sourcelocation.png</string>
			<key>label</key>
			<string>Want to recreate this tweak?</string>
			<key>url</key>
			<string>https://blog.sourceloc.net</string>
			<key>iconCircular</key>
			<true />
			<key>height</key>
			<integer>56</integer>
			<key>subtitle</key>
			<string>https://blog.sourceloc.net</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Developer - sourcelocation</string>
			<key>user</key>
			<string>sourceloc</string>
		</dict>
	</array>
	<key>title</key>
	<string>PinAnim</string>
</dict>
</plist>
